body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    padding: 20px;
    min-height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0px 4px 10px #3d4349;
    overflow: hidden;
    width: 550px;
}

.cabecera {
    background-color:#017bff;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}


#botoncierre {
    padding: 10px 14px;
    color: #017bff;
    border-radius: 10px;
    border: 1px solid #017bff;
    cursor: pointer;
}

#botoncierre:hover {
    background-color: #dddddd;
}

#titulo {
    padding: 20px;
}

.cuerpo {
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    padding: 25px;
    padding-left: 60px;
    align-items: center;
    gap: 35px;
}


#texto p {
    padding-left: 20px;
}

#imagen {
    border: 2px solid#017bff;
    border-radius: 55px;
    width: 120px;
    height: 120px;
    
}
span {
    font-weight: bold;
}

.pie {
    background-color: #f4f4f4;
    display: flex;
    padding: 25px;
    justify-content: space-around;
}


#entrada {
    background-color: #0000ff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    width: 170px;
}
#entrada:hover {
    background-color: #017bff;
    
}
#salida {
    background-color: #017bff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    width: 170px;
}

#salida:hover { 
    background-color: #0000ff;
}
#historial {
    background-color: #b9860c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    width: 100px;
}

#historial:hover {
    background-color: #a52a2b;
}