@font-face {
    font-family: Satisfy;
    src: url('../fonts/Satisfy-Regular.ttf');
}
body {
    font-family: Satisfy, cursive;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.cabecera {
    background-color: #30dfce;
    padding: 20px;
    text-align: center;
}

.cabecera p {
    font-size: 24px;
    padding: 10px;
}

.cabecera h1 {
    font-size: 34px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding: 20px;
    background-image: url('../img/fondo.jpg');   
    background-position: center;
    align-items: center;
    justify-content: center;
    background-size: contain;
}

.pie {
    background-color: #30dfce;
    padding: 10px;
    text-align: center;
}

.video {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8);
    max-width: 640px;
    margin-bottom: 20px;
    border: 5px solid #30dfce;
}
video {
    width: 100%;
    border-radius: 10px;
}

figcaption {
    text-align: center;
    background-color: #30dfce;
    font-size: 20px;
}