body {
    display: flex;
    background-image: url('../img/eurovision_background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;

}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    gap: 30px;
    padding: 30px;
}

.iconos {
    display: flex;
    font-size: 34px;
    background-color: #333;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 10px white;
}

.luces {
    animation: parpadeo 1s alternate infinite;
}

@keyframes parpadeo {
    from {
        background-color: fuchsia;

    }

    to {
        background-color: cyan;
    }
}

.bandera {
    animation: ondeo 1.5s ease-in-out infinite alternate;
}

@keyframes ondeo {
    from {transform: rotate(0deg);}
    to{ transform: rotate(10deg);}
}

.microfono {
    animation: vibracion 0.2s linear infinite;
}

@keyframes vibracion {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
    100% { transform: translateX(0); }
}